extends ../layout

block content
    #wrapper
        include ../includes/sidebar
        #page-wrapper.gray-bg.dashbard-1
            include ../includes/navbar
            .row.wrapper.border-bottom.white-bg.page-heading
                .col-lg-10
                    h2 Editer un utilisateur
                    ol.breadcrumb
                        li
                            a(href='/dashboard') Dashboard
                        li.active
                            strong Editer un utilisateur
                .col-lg-2
            .wrapper.wrapper-content.animated.fadeIn
                .row
                    .col-lg-12
                        .ibox.float-e-margins
                            .ibox-title
                                h5 Editer un utilisateur
                            .ibox-content
                                form.form-horizontal(method='post' action='/dashboard/users/edit/' + user._id)
                                    .form-group
                                        label.col-sm-2.control-label Pseudo
                                        .col-sm-10
                                            input.form-control(type='text' name="pseudo" value=user.pseudo)
                                    .hr-line-dashed
                                    .form-group
                                        label.col-sm-2.control-label Nom
                                        .col-sm-10
                                            input.form-control(type='text' name="lastname" value=user.lastname)
                                    .hr-line-dashed
                                    .form-group
                                        label.col-sm-2.control-label Prénom
                                        .col-sm-10
                                            input.form-control(type='text' name="firstname" value=user.firstname)
                                    .hr-line-dashed
                                    .form-group
                                        label.col-sm-2.control-label Email
                                        .col-sm-10
                                            input.form-control(type='email' name="email" value=user.email)
                                    .hr-line-dashed
                                    .form-group
                                        label.col-sm-2.control-label Mot de passe
                                        .col-sm-10
                                            input.form-control(type='password', name='password')
                                    .hr-line-dashed
                                    .form-group
                                        label.col-sm-2.control-label Confirmation du Mot de passe
                                        .col-sm-10
                                            input.form-control(type='password', name='passwordconfirm')
                                    .hr-line-dashed
                                    .form-group
                                        label.col-sm-2.control-label
                                            | Changer son type de compte
                                            br
                                            small.text-navy 1 seul choix possible
                                        .col-sm-10
                                            div
                                                label
                                                    input#optionsRadios1(type='radio', checked='', value='Administrateur', name='typeaccount')
                                                    |  Administrateur
                                            div
                                                label
                                                    input#optionsRadios2(type='radio', value='Moderateur', name='typeaccount')
                                                    |  Modérateur
                                            div
                                                label
                                                    input#optionsRadios3(type='radio', value='Editeur', name='typeaccount')
                                                    |  Editeur
                                            div
                                                label
                                                    input#optionsRadios4(type='radio', value='Guest', name='typeaccount')
                                                    |  Guest
                                            span.help-block.m-b-none= 'L\'utilisateur est actuellement ' + user.rang
                                    .hr-line-dashed
                                    .form-group
                                        .col-sm-4.col-sm-offset-2
                                            button.btn.btn-primary(type='submit') Editer l'utilisateur
                                            a.btn.btn-danger(href='/dashboard/users/deleteAdmin/' + user._id)  Supprimer ce compte

    include ../includes/footer

    block javascripts
